<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"><!-- MUST occur early in the file -->
<!--
Plumage - a web frontend for Web Polygraph.
Copyright 2015 Philip Boulain <philip.boulain@smoothwall.net>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

See LICENSE.txt for details.
-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Plumage</title>
		<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/plumage.css">
	</head>
	<body class="error-page">
[% PROCESS include/navbar.tt ; WRAPPER navbar %]
[% END %]

		<div class="container" role="main">
			<h1>[% title | html %]</h1>
			<p id="dead-parrot">Plumage is pining for the fjords.</p>
			<p>[% content | html %]</p>
			[% IF exception %]
			<button class="btn btn-link" type="button"
				data-toggle="collapse" data-target="#exception" aria-expanded="false" aria-controls="exception">
				Show gory details
			</button>
			<div id="exception" class="collapse"><strong>Status: [% status | html %]</strong><pre class="well">[% exception | html %]</pre></div>
			[% END %]
		</div>

		<footer class="footer"><div class="container"><div class="row">
			<div class="col-sm-6 text-muted">Plumage &copy; 2014&thinsp;&ndash;&thinsp;2015 Philip Boulain</div>
			<div class="col-sm-6 text-muted text-right">
				<a href="https://github.com/LionsPhil/plumage">Source code</a> &bull;
				<a href="[% vars.master_base %]doc">API documentation</a>
			</div>
		</div></div></footer>

		<!-- Scripts which are dependencies of others cannot be async; defer no
		     longer means anything in modern browsers. -->
		<script type="text/javascript" src="/js/libs/jquery.js"></script>
		<script type="text/javascript" src="/js/libs/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/plumage.js" async></script>
	</body>
</html>
